# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Caganganan.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jjgut\Documents\Unreal Projects\Caganganan\.idea\.idea.Caganganan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
